<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png">
    <title>Restaurant Apps</title>    
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>    
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">Restaurant<span> Apps</span></a></div>
            <ul class="menu">
                <li><a href="/" class="menu-btn">Home</a></li>
                <li><a href="#" class="menu-btn">Favorit</a></li>
                <li><a href="https://www.linkedin.com/in/didiek-trisatya-63226b1b2/" class="menu-btn">About</a></li>                                
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    <!-- home section start -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">                
                <div class="text-2">Restaurant Apps</div>
                <div class="text-3">Silahkan Pesan <span class="typing"></span></div>
                <a href="#">Pesan Sekarang</a>
            </div>
        </div>
    </section>  
    
    <section id="restoran"></section>

    <!-- about section start -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About Restaurant</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="/images/restoran.jpg" alt="">
                </div>
                <div class="column right">
                    <div class="text">Selamat Datang! Silahkan Pesan <span class="typing-2"></span></div>
                    <p>Phoenix Restaurant merupakan sebuah restoran yang memiliki berbagai macam menu makanan di seluruh Asia Tenggara. Selain itu, kami menyediakan berbagai macam kue yang bervariasi rasanya dan unik untuk dimakan. Kami juga memiliki sebuah ruangan untuk menikmati indahnya suasana di malam hari. Aplikasi ini dibuat dengan tujuan untuk memesan makanan maupun memesan meja untuk keperluan tertentu.</p>
                    <a href="#">Download Menu Makanan</a>
                </div>
            </div>
        </div>
    </section>

    <!-- services section start -->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">Our services</h2>
            <div class="serv-content">
                <div class="card">
                    <a href="#" style="color: white;">
                    <div class="box">
                        <img src="./images/heros/hero-image_2.jpg" width="220" alt="">
                        <div class="text"> Menu Makanan</div>
                        <p>Menu makanan disini menyediakan berbagai macam makanan yang ada dari semua negara di Asia Tenggara.</p>
                    </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" style="color: white;">
                    <div class="box">
                        <img src="./images/heros/hero-image_3.jpg" width="220" alt="">
                        <div class="text">Suasana</div>
                        <p>Dengan suasana lampu pada malam hari akan menjadikan suasana restoran akan semakin indah dipandang.</p>
                    </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" style="color: white;">
                    <div class="box">
                        <img src="./images/heros/hero-image_4.jpg" width="220" alt="">
                        <div class="text">Kue Kekinian</div>
                        <p>Terlebih di restoran kami menyediakan kue kekinian yang dimana rasanya bervariasi macamnya dan unik.</p>
                    </div>
                    </a>
                </div>
               </div>
            </div>
        </div>
    </section>

    <!-- contact section start -->
    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">Contact us</h2>
            <div class="contact-content">
                <div class="column left">
                    <div class="text">Hubungi Kami</div>
                    <p>Selamat datang pelanggan terhormat, silahkan sampaikan pesan kepada kami apabila terjadi masalah atau keluhan pada saat dilakukan pemesanan. Terima kasih.</p>
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head">Name</div>
                                <div class="sub-title">Phoenix Restaurant</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">Address</div>
                                <div class="sub-title">Tegal, Jawa Tengah, Indonesia</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">Email</div>
                                <div class="sub-title">phoenixrestaurant@gmail.com</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column right">                    
                    <form action="#">
                        <div class="fields">
                            <div class="field name">
                                <input type="text" placeholder="Name" required autofocus>
                            </div>
                            <div class="field email">
                                <input type="email" placeholder="Email" required autofocus>
                            </div>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Masukkan Keluhan Anda" required autofocus>
                        </div>
                        <div class="field textarea">
                            <input type="text" placeholder="Silahkan beri penjelasan.." required autofocus>                            
                        </div>
                        <div class="button">
                            <a href="#" style="color: white;">
                            <button type="submit">Kirim Pesan</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section start -->
    <footer>
        <span>Copyright &copy;</span> 2021 Restaurant Apps</span>
    </footer>            
</body>
</html>